<div class="container-fluid px-0">
    <div class="content-header">
        <div class="d-flex flex-column justify-content-center align-items-center pt-5 pb-5">
            <div class="text-center pt-5 pb-3">
                <img src="/assets/rick and morty.png" class="img-fluid w-25">
            </div>
            <div class="input-group input-group-dark pt-3 pb-5 w-50">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                </span>
                <input class="form-control" [(ngModel)]="name" (input)="getCharactersDelay()" placeholder="Buscar Personaje..." type="text">
            </div>
        </div>
    </div>
    <div class="content">
        <nav class="nav nav-pills flex-column flex-sm-row" style="background-color: #F2F2F2;">
            <a *ngFor="let gender of genders | keyvalue"
                style="cursor: pointer;"
                (click)="setGender(gender.value)"
                class="flex-sm-fill text-sm-center nav-link text-dark py-4"
                [ngClass]="{'active-gender': genderSelected == gender.value}">
                {{gender.value}}
            </a>
        </nav>
        <div *ngIf="characters.length > 0; else noCharacters" class="row py-4" >
            <div *ngFor="let character of characters" class="col-4">
                <app-character-card (click)="showCharacter(character)" [character]="character"></app-character-card>
            </div>
        </div>
        <div class="d-flex justify-content-center">
          <app-pagination [total] = "total" [per-page]="perPage" (change)="changePage($event)"></app-pagination>
        </div>
        <ng-template #noCharacters>
            <div class="d-flex flex-column justify-content-center align-items-center py-5">
                <h1>Uh-oh!</h1>
                <h5>¡Pareces perdido en tu viaje!</h5>
                <button (click)="reset()" class="btn btn-primary">Eliminar filtros</button>
            </div>
        </ng-template>
    </div>
    <div class="content-footer">
        <div class="d-flex flex-column justify-content-center align-items-center py-5">
            <div class="text-center">
                <img src="/assets/logo_suazo.png" width="15%" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<div *ngIf="showDetail">
  <div class="modal fade show display">
    <div class="modal-dialog">
      <div class="modal-content">
        <svg xmlns="http://www.w3.org/2000/svg" (click)="closeDetail()" width="24" height="24" fill="currentColor" class="bi bi-x-circle x-button text-danger" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <app-character-detail [character]="character"></app-character-detail>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</div>
