<div class="container-fluid px-0">
    <div class="background d-flex justify-content-center align-items-center vh-100 w-100">
        <div class="d-flex flex-column justify-content-center align-items-center w-75">
            <div class="text-center">
                <img src="/assets/logo_suazo.png" width="15%"  class="img-fluid">
            </div>
            <div class="text-center">
                <img src="/assets/rick and morty.png" class="img-fluid w-50">
            </div>
            <div>
                <h2 class="text-white">Bienvenido a Rick and Morty</h2>
            </div>
            <div>
                <p class="text-white text-center fw-light">En esta prueba, evaluaremos su capacidad para construir la aplicación mediante el análisis de código y la reproducción del siguiente diseño.</p>
            </div>
            <div>
                <a [routerLink]="['/search']" class="btn btn-primary">Continuar</a>
            </div>
        </div>
    </div>
</div>