.background-detail {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 220px;
  margin: auto;

}

.img-circle {
  border-radius: 50%;
}

.custom-container {
  width: 740px;
  border-radius: 10px;
}
